:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --contact-color: #757575;
  --wite-color: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --button-color: #f5f4fa;
  --black: #000000;
}

body {
  background-color: var(--wite-color);
  color: var(--brand-color);
  font-family: Roboto, raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

/* логотип */

.logo-web {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
}

.logo-studio {
  color: var(--black);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
}

.logo-footer {
  color: var(--wite-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
}

/* новигация */

.header-link {
  text-decoration: none;
}

.header-list {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}
.header-list.current {
  color: var(--accent-color);
}

/* контакты */

.contact {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.contact:hover,
:focus {
  color: var(--accent-color);
}

.contact-footer {
  color: var(--white-transparent);
}

/* герой */

.hero-title {
  background-color: var(--brand-color);
  color: var(--wite-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  background: var(--accent-color);
  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

/* презентация */

.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.subtitle-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.section-text {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.7;
}

.desc {
  color: var(--contact-color);
  font-size: 16px;
  line-height: 1.9;
}

.section-aside {
  color: var(--contact-color);
  font-size: 16px;
  line-height: 1.2;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* команда */

.section-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

/* новигация */

.section-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

button {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand-color);
  cursor: pointer;
  border: none;
}


.hidden {
  display: none;
}
